*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
#all {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(105, 126, 143);
}

.choose_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  background-color: rgb(117, 154, 168);
  box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.45);
}

.score {
  display: block;
  font-size: 18px;
  width: 100vw;
  text-align: center;
}
.difficulty {
  font-size: 18px;
}
.start_button {
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(
    135deg,
    rgb(196, 218, 233) 0%,
    rgb(117, 154, 168) 80%
  );
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
}
.start_button:hover,
.start_button:focus {
  cursor: pointer;
  box-shadow: none;
  background: none;
  background-color: rgb(117, 154, 168);
}
.start_button:active {
  cursor: pointer;
  box-shadow: none;
  background: none;
  background-color: rgb(117, 154, 168);
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.34);
}

.page_header {
  font-size: 32px;
}

.main_window {
  display: none;
  position: fixed;
  width: 95vw;
  height: 95vw;
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.45);
}

.game_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(64, 71, 64);
  top: 0;
  left: 0;
  display: grid;
  grid-gap: 3px;
  border: rgb(64, 71, 64) solid 3px;
  border-radius: 4px;
}

@media only screen and (orientation: landscape) {
  .main_window {
    display: none;
    position: fixed;
    width: 75vh;
    height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.45);
  }
}

.over {
  background-color: tomato;
}
.over:after {
  content: "Game over!!!";
  display: block;
  position: absolute;
  color: beige;
  font-size: 1em;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell {
  position: relative;
  text-align: center;
  font-size: 2em;
  box-shadow: inset 0 0 3px rgb(64, 71, 64);
  overflow: hidden;
  border-radius: 3px;
}
.numb {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.473);
}
.cell0 {
  background-color: rgb(163, 163, 151);
  font-size: 0.01px;
}

.cell1 {
  background-color: rgb(255, 211, 218);
}
.cell2 {
  background-color: rgb(226, 158, 204);
}
.cell3 {
  background-color: rgb(187, 118, 164);
}
.cell4 {
  background-color: rgb(169, 169, 224);
}
.cell5 {
  background-color: rgb(92, 149, 172);
}
.cell6 {
  background-color: rgb(86, 145, 223);
}
.cell7 {
  background-color: rgb(226, 123, 63);
}
.cell8 {
  background-color: rgb(238, 211, 59);
}
.cell9 {
  background-color: rgb(212, 173, 66);
}
.cell10 {
  background-color: rgb(87, 170, 135);
  font-size: 1.5em;
}
.cell11 {
  background-color: rgb(0, 223, 130);
  font-size: 1.5em;
}
.cell12 {
  background-color: rgb(124, 240, 192);
  font-size: 1.5em;
}
.cell13 {
  background-color: rgb(18, 129, 83);
  font-size: 1.5em;
}
.cell14 {
  background-color: rgb(0, 135, 224);
  font-size: 1.2em;
}
.cell15 {
  background-color: rgb(87, 151, 194);
  font-size: 1.2em;
}
.cell16 {
  background-color: rgb(70, 186, 240);
  font-size: 1.2em;
}
.cell17 {
  background-color: rgb(133, 179, 49);
  font-size: 1em;
}
.cell18 {
  background-color: rgb(172, 253, 155);
  font-size: 1em;
}
.cell19 {
  background-color: rgb(49, 196, 122);
  font-size: 1em;
}
.cell20 {
  background-color: rgb(235, 103, 103);
  font-size: 1em;
}
.cell21 {
  background-color: rgb(231, 108, 78);
  font-size: 1em;
}
.cell22 {
  background-color: rgb(214, 91, 132);
  font-size: 1em;
}
.cell23 {
  background-color: rgb(212, 69, 69);
  font-size: 1em;
}
.cell24 {
  background-color: rgb(37, 230, 255);
  font-size: 1em;
}
.cell25 {
  background-color: rgb(147, 207, 235);
  font-size: 1em;
}
