*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
#all {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(105, 126, 143);
}

.choose_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 100%;
  background-color: rgb(117, 154, 168);
  box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.45),
    inset 0px 2px 5px 0px rgba(0, 0, 0, 0.45);
}

/*custom select start*/
.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  display: inline-block;
  border: 2px solid rgb(90, 104, 122);
  padding: 4px 3px 3px 5px;
  margin: 0;
  font: inherit;
  color: black;
  outline: none; /* remove focus ring from Webkit */
  line-height: 1.2;
  background: #dfcbcb;

  -webkit-appearance: none; /* remove the strong OSX influence from Webkit */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);

  border-radius: 12px;
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .custom-select select {
    padding-right: 30px;
  }
}

/* Since we removed the default focus styles, we have to add our own */
.custom-select select:focus {
  -webkit-box-shadow: 0 0 3px 1px rgb(0, 112, 204);
  -moz-box-shadow: 0 0 3px 1px rgb(0, 112, 204);
  box-shadow: 0 0 3px 1px rgb(0, 112, 204);
}

/* Select arrow styling */
.custom-select:after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 35px;
  padding: 0 7px;
  background: rgb(90, 104, 122);
  color: #dfcbcb;

  pointer-events: none;

  border-radius: 0 12px 12px 0;
}

.no-pointer-events .custom-select:after {
  content: none;
}
/*custom select end*/

.score {
  display: block;
  font-size: 18px;
  width: 100vw;
  text-align: center;
}

.start_button {
  border: none;
  border: 2px solid rgb(90, 104, 122);
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 12px;
  font: inherit;
  color: black;
  outline: none; /* remove focus ring from Webkit */
  line-height: 1.2;
  background-color: #dfcbcb;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.29);
}
.start_button:focus {
  cursor: pointer;
  box-shadow: 0 0 3px 1px rgb(0, 112, 204);

  outline: none;
}
.start_button:active {
  cursor: pointer;
  box-shadow: none;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.34);
}

.page_header {
  padding-top: 4px;
  font-size: 32px;
}

.main_window {
  display: none;
  position: fixed;
  width: 95vw;
  height: 95vw;
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.45);
  z-index: 5;
}

.game_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(64, 71, 64);
  top: 0;
  left: 0;
  display: grid;
  grid-gap: 3px;
  border: rgb(64, 71, 64) solid 3px;
  border-radius: 4px;
  z-index: 7;
}

@media only screen and (orientation: landscape) {
  .main_window {
    display: none;
    position: fixed;
    width: 75vh;
    height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.45);
  }
}

.over {
  background-color: tomato;
}
.over:after {
  content: "Game over!!!";
  display: block;
  position: absolute;
  color: beige;
  font-size: 1em;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell {
  position: relative;
  text-align: center;
  font-size: 2em;
  box-shadow: inset 0 0 3px rgb(64, 71, 64);
  overflow: hidden;
  border-radius: 3px;
  z-index: 8;
}
.numb {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.473);
}
.cell0 {
  background-color: rgb(163, 163, 151);
  font-size: 0.01px;
}

.cell1 {
  background-color: rgb(255, 211, 218);
}
.cell2 {
  background-color: rgb(226, 158, 204);
}
.cell3 {
  background-color: rgb(187, 118, 164);
}
.cell4 {
  background-color: rgb(169, 169, 224);
}
.cell5 {
  background-color: rgb(92, 149, 172);
}
.cell6 {
  background-color: rgb(86, 145, 223);
}
.cell7 {
  background-color: rgb(226, 123, 63);
}
.cell8 {
  background-color: rgb(238, 211, 59);
}
.cell9 {
  background-color: rgb(212, 173, 66);
}
.cell10 {
  background-color: rgb(87, 170, 135);
  font-size: 1.5em;
}
.cell11 {
  background-color: rgb(0, 223, 130);
  font-size: 1.5em;
}
.cell12 {
  background-color: rgb(124, 240, 192);
  font-size: 1.5em;
}
.cell13 {
  background-color: rgb(18, 129, 83);
  font-size: 1.5em;
}
.cell14 {
  background-color: rgb(0, 135, 224);
  font-size: 1.2em;
}
.cell15 {
  background-color: rgb(87, 151, 194);
  font-size: 1.2em;
}
.cell16 {
  background-color: rgb(70, 186, 240);
  font-size: 1.2em;
}
.cell17 {
  background-color: rgb(133, 179, 49);
  font-size: 1em;
}
.cell18 {
  background-color: rgb(172, 253, 155);
  font-size: 1em;
}
.cell19 {
  background-color: rgb(49, 196, 122);
  font-size: 1em;
}
.cell20 {
  background-color: rgb(235, 103, 103);
  font-size: 1em;
}
.cell21 {
  background-color: rgb(231, 108, 78);
  font-size: 1em;
}
.cell22 {
  background-color: rgb(214, 91, 132);
  font-size: 1em;
}
.cell23 {
  background-color: rgb(212, 69, 69);
  font-size: 1em;
}
.cell24 {
  background-color: rgb(37, 230, 255);
  font-size: 1em;
}
.cell25 {
  background-color: rgb(147, 207, 235);
  font-size: 1em;
}
